{
  "extends": ["react-app", "airbnb", "prettier/react"],
  "rules": {
    "no-unused-vars": "off",
    "no-extend-native": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "react/forbid-prop-types": "off",
    "class-methods-use-this": "off",
    "react/prop-types": "off"
  }
}
